/* YOUR CUSTOM CSS */

body{
	color:#000;
}
p,h1,h2,h3,h4,h5,h6,ul,a{
	margin: 0px;
}

.page-title-area h1{
	display: inline-block;
	padding: 0px 30px;
}

.page-title-area a,input{
	display: inline-block;
	padding: 3px 20px;
	background: red;
	font-size: 18px;
	color: #fff;
	background: #333;
	border-radius: 20px;
  border:0px;
	
}

.page-title-area .btn-2{
  background: #28a745;
  
}
.page-title-area .btn-3{
  background: #dc3545;
}




.page-title-area div{
	display: inline-block;
	padding-right: 50px;
}


/*check box*/

/* This css is for normalizing styles. You can skip this. */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




.new {
  padding: 50px;
}

.form-group {
  display: block;
  margin-bottom: 15px;
}

.form-group input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.form-group label {
  position: relative;
  cursor: pointer;
}

.form-group label:before {
  content:'';
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid #0079bf;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
  padding: 10px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  margin-right: 5px;
}

.form-group input:checked + label:after {
  content: '';
  display: block;
  position: absolute;
  top: 2px;
  left: 9px;
  width: 6px;
  height: 14px;
  border: solid #0079bf;
  border-width: 0 1px 1px 0;
  transform: rotate(45deg);
}




/*email admin*/

.single-email{
  border: 1px solid rgba(0,0,0,0.125);
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  position: relative;
}

.single-email .number{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  line-height: 25px;
  font-size: 18px;
}

.single-email .user-email{
  color: rgba(0,0,0,0.6);
}
.single-email:hover .user-email{
  color: rgba(0,0,0,1);
}


.single-email .single-email-btn{
  display: inline-block;
  font-size: 18px;
  padding: 4px 20px;
  padding-bottom: 1px;
  background: red;
  border-radius: 30px;
  color: #fff;

}
.active-comment{
  background: #e9ffe4;
}
